<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="DataProvider" value ="System.Data.SqlClient"/>
    <add key ="ConnectionStringName" value ="TicketAllocator.ConnectionString"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="DBConnectionString" connectionString="Data Source=SWEETY\SQLEXPRESS;Initial Catalog=TicketAllocator; Integrated Security=true" providerName="System.Data.SqlClient"/>
    <!--<add name="DBConnectionString"
          connectionString="Data Source=SWEETY\SQL2008;Initial Catalog=TicketAllocator; Integrated Security=SSPI" />-->
    <!--<add name="TicketAllocatorConnectionString" providerName="System.Data.SqlClient"
          connectionString="Data Source=localhost;Initial Catalog=TicketAllocator; Integrated Security=true" />-->
  </connectionStrings>
</configuration>